version: '3.8'

services:
  web:
    build: .
    container_name: ouroplas-web
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    volumes:
       # Mount public folder to allow static asset updates without rebuild if needed
      - ./public:/app/public
